//colores
$Yale:#304D6D;
$Olive:#393A10;
$Bittersweet:#FF6B6B;
$Aquamarine:#61D095;
$Gris:#D6D6D6;

$breakPrimero: 740px;
$breakSegundo:900px;
$breakTercero:1000px;

*{
    margin: 0;
    //overflow-x: hidden;

}
body{overflow-x: hidden;}
html{
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
    box-sizing: border-box;
}
.scroll-down{
    nav{
        transform:translate3d(0,-100%,0);
    }
    }
.scroll-up{
    nav{
        transform:translate3d(0,0,0);
        box-shadow: 0px 10px 16px -8px rgba(0,0,0,0.75);  
    }
}
nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 2vh 0;
    position: fixed;
    background-color: #fff;
    border-radius: 0 0 10px 10px;
    top: 0;
    z-index: 9990;
    transition: transform 300ms ease-in-out;

    .logo{
        margin-left: 3vw;
        font-size: 3rem;
        font-weight: 800;
        color: $Yale;
    }
    button{
        margin-right: 3vw;
        font-size: 1.5rem;
        border: none;
        background-color: $Bittersweet;
        color: $Olive;
        border-radius: 10px;
        font-weight: 500;
        padding: 1rem;
    }
    button:hover{
        cursor: pointer;
   }
}

.principal{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-image: url(../img/Vector-1.svg);
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-size: contain;
    z-index: -99;
    
    .primera{
        .textoPrincipal{
            position: relative;
            top: 20vh;
            left: 5vw;
            display: inline;
            display: inline-block;
            animation: slide-top 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            .nombre{
                font-weight: 800;
                font-size: 2rem;
                color: $Bittersweet;
            }
            .puesto{
                font-size: 1.8rem;
                font-weight: 500;
                color: $Aquamarine;
            }
        }
        .proyecto{
            position: absolute;
            bottom: 30vh;
            right: 2rem;
            width: 69vw;
            z-index: -1;
        }
        .escroll{
            position: absolute;
            width: 70px;
            top: 70%;
            left: 50%;
            transform: translateX(-50%);
            .palo-medio{
                //animation:slide-medio 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                animation: slide-medio 1.5s ease-in-out infinite alternate both;
            }
            .palo-fuera{
                //animation:slide-fuera 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                animation: slide-fuera 1.5s ease-in-out infinite alternate both;
            }
            .palo-solo{
                //animation:slide-solo 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                animation: slide-solo 1s ease-in-out infinite alternate both;
            }
        }
    }

}
.secundaria{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    background-color: $Yale;
    padding-bottom: 5vh;
    h1{
        margin: 5vh 3vw 0 3vw;
        text-align: center;
        color: $Bittersweet;
        font-size: 3rem;
    }
    .telefono{
        width: 80vw;
        margin: 5vh 0;
    }
    ul{
        li{
            color: $Gris;
            font-size: 2.5rem;
            font-weight: 700;
            margin: 2vh 0;
        }
        
    }
}

.tercera{
    background-color: $Aquamarine;
    padding:5vh 0;
    h1{
        font-size: 3rem;
        font-weight: 700;
        color: $Olive;
        text-align: center;
        padding: 0 0 5vh 0;
        
    }
    .proye{
        display: flex;
        flex-direction: column;
        background-color: #4ca575;
        border-radius: 20px;
        margin: 2rem 2rem;
        box-shadow: 4px 6px 5px 0px rgba(61,38,38,0.75);
        .descript{
            text-align: center;
            padding: 2vh 0;
            h3{
                color: #161616;
                font-weight: 700;
                font-size: 2.5rem;
                padding-bottom: 2rem;
                margin: 2rem 0;
                border-bottom: 2px solid     $Aquamarine;
            }
            p{
                color: #161616;
                font-weight: 500;
                font-size: 1.8rem;
                padding: 2vh 6vw;
            }
            a{
                button{
                    border: none;
                    border-radius: 10px;
                    background-color: $Olive;
                    color: $Gris;
                    font-weight: 700;
                    font-size: 2.5rem;
                    text-decoration: none;
                    padding: 2rem 3rem;
                }
                button:hover{
                    background-color: $Bittersweet;
                    color: $Yale;
                    cursor: pointer;
                }
            }
        }
        .imaEjemp{
            display: flex;
            flex-direction: column;
            align-items: center;
            align-content: center;
            img{
                width: 80vw;
                border-radius: 10px;
                margin-bottom: 2vh;
            }
        }
    }
    .proye:hover{
        background-color: #34a76a;
        
    }
    .separador{
        width: 90vw;
        margin:5vh 5vw;
    }
}

.cuarta{
    position: relative;
    overflow: hidden;
    background-image: url(../img/Vector-21.svg);
    background-repeat: no-repeat;
    background-size: 100%;

    h1{
        color: $Yale;
        font-size: 3rem;
        font-weight: 700;
        text-align: center;
    }
    .contenido-cursos{
        display: flex;
        flex-direction: column;
        .curso{
            background-color: $Bittersweet;
            opacity: .9;
            margin: 2vh 5vw;
            padding: 1vh 0;
            display: flex;
            flex-direction: column;
            align-content: center;
            align-items: center;
            width: 90vw;
            border-radius: 10px;
            box-shadow: 7px 6px 15px 0px rgba(0,0,0,0.75);

            img{
                width: 70vw;
                margin: 1vh 0;
            }
            ul{
                padding: 1vh 0;
                li{
                    text-decoration: none;
                    list-style: none;
                    text-align: center;
                    font-size: 2.3rem;
                    font-weight: 500;
                    padding: 1vh;
                }
                .subtema{
                    font-size: 2rem;
                    font-weight: 400;
                }
            }

        }
    }    
}
footer{
    background-color: #18091a;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    padding: 3rem 10%;
    text-align: center;
    grid-template-areas: 
    "boton1 boton2"
    "derechos derechos";
    a{
        margin:3rem 2rem;
        width: auto;
        button{
            margin:none;
            border: none;
            background-color: #18091a;
        }
        button:hover{
            cursor: pointer;
        }
    }
    a:first-child{
        grid-area: boton1;
    }
    a:last-child{
        grid-area:boton2;
    }
    p{
        text-align: center;
        grid-area: derechos;
        color: $Aquamarine;
        font-size: 2rem;
    }
}
@media (min-width: $breakPrimero){

    .principal{
        .primera{
            .textoPrincipal{
                .nombre{
                    font-size: 3rem;
                }
                .puesto{
                font-size: 2.5rem;
                }
            }
            .proyecto{
                width: 50vw;
            }
            .escroll{
                top: 65%;
            }
        }

    }
    .secundaria{
        .telefono{
            width: 60vw;
        }
        ul{
            display: grid;
            gap: 2rem;
            grid-template-columns: 1fr 1fr;
            padding: 0;
            width: 90vw;
            justify-content: center;
            list-style-type: none;

            li{
                width: auto;
                text-align: center;
            }
        }
    }

    .tercera{ 
        .grupoProyectos{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;
            gap: 1rem;
            row-gap: 2rem;
        .separador{
            display: none;
        }
        .proye{
            margin: 0 auto;
            width: 45vw;
                .imaEjemp{
                flex-direction: column;
                justify-content: space-around;
                
                }
                img{
                    width: 40vw;
                    }
                }
            }
        }
        
        .cuarta{
        .contenido-cursos{
            margin: 2rem;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto; 
            gap: 2rem;   
            .curso{
                width: 45vw;
                margin: 0%;
                img{
                    width: 35vw;
                }
            }
        }
    }
}

@media (min-width: $breakSegundo){
    .principal{
        .primera{
            .textoPrincipal{
                left: 10vw;
            }
            .proyecto{
                bottom: 35vh;
                right: 10vw;
                width: 39vw;
            }
            .escroll{
                top: 60%;
            }
        }
    }
    footer{
        padding: 3rem 30%;
    }
}
@media (min-width: $breakTercero){
    
    nav{
        .logo{
            font-size: 4rem;
        }
        button{
            font-size: 2rem;
            border: none;
            padding: 1.5rem;
        }
        button:hover{
            background-color: $Yale;
            animation: color-change-2x 1s ease-in-out alternate both;
        }
    }
    
    
    .principal{
        background-image: url(../img/Vector1000.svg);
        background-repeat: no-repeat;
        background-position-y: bottom;
        background-size: contain;
        z-index: -99;
        .primera{
            .proyecto{
                width: 30vw;
                left: 50vw;
                bottom: 25vh;
            }
            .escroll{
                top: 65vh;
                width:100px;
            }
        }
    }
    .secundaria{
        .telefono{
            width: 35vw;
        }
        ul{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr ;
        }
    }
    .tercera{
        padding-top: 10rem;
        .grupoProyectos{
            grid-template-columns: 1fr 1fr 1fr;
            .proye{
                width: 30vw;
                img{
                    width: 28vw;
                }
                .descript{
                    p{
                        font-size: 2rem;
                        line-height: 2.6rem;
                    }
                }
            }
        }
        .reversa{
            flex-direction: row-reverse;
        }
    }

    .cuarta{
        
        h1{
            font-size: 5rem;
            padding-top: 5rem;
            width: 100%;
        }
        .contenido-cursos{
            margin: 6vw;
            column-gap: 7vw;
            .curso{
                width: auto;
                margin: 0%;
                img{
                    width: 25vw;
                }
            }
        }
    }
    footer{
        padding: 3rem 40%;
    }
}

/* ----------------------------------------------
 * Generated by Animista on 2021-9-11 9:27:48
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation color-change-2x
 * ----------------------------------------
 */
  @keyframes color-change-2x {
    0% {
      background: $Bittersweet;
    }
    100% {
      background: $Yale;
      color: $Gris;
    }
  }
@keyframes slide-top {
    0% {
      transform: translateY(100px);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes slide-solo {
    0% {
      transform: translateY(25px);
    }
    100% {
      transform: translateY(20);
    }
  }